<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>project_web</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- Just an image -->
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Test</a>
    </nav>
    <div id="app" class="container">
        <div class='row'>
            <div class='col'>
                <div class='row'>
                    <textarea class='form-control' id="deckStream" rows="10"></textarea>
                </div>
                <div class='row'>
                    <div class='row'>
                        <div class='col'><input class='form-control' id='drawTimes' v-model='gVar.drawTimes' placeholder='抽牌次數/draw times.'/></div>
                        <div class='col'><input class='form-control' id='handCard' v-model="gVar.handCard" placeholder='手牌數量/hand card amout.'/></div>
                        {{gVar.drawTimes}}
                        {{gVar.handCard}}
                    </div>
                    <div class='row'>
                        <select id='sel_cardlist'>
                            <!-- option -->
                        </select>
                    </div>
                    <button class='form-control'id="start" @click="startAnalysis">開始分析</button>
                </div>
            </div>
            <div class='col' id='display'>
            </div>
        </div>
    <div>

    <span id="prob"></span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.common.js" integrity="sha256-hlHoy5pVoubqmkmYfBF7qvZ1y8Beiuf/PoizbMFPcnI=" crossorigin="anonymous"></script>
    <script src="./drawCardChance.js"></script>

<style>

</style>
</body>
</html>
