<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>project_web</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

</head>
<body>

    <!-- Just an image -->
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Test</a>
    </nav>
    <div id="app" class="container">
        <div class='row'>
            <div class='col'>
                <div class='row'>
                    <div class="col">
                        <textarea class='form-control' v-model="gVar.deckStream" rows="10" @blur="getDeck" placeholder='輸入牌組'></textarea>
                    </div>
                    <div class="col">
                        <div class='row'><input class='form-control' v-model='gVar.drawTimes' placeholder='抽牌次數/draw times.'/></div>
                        <div class='row'><input class='form-control' v-model="gVar.handCardNum" placeholder='手牌數量/hand card amout.'/></div>
                        <div class='row'>
                            <select class="form-control" @dblclick='getHand' multiple>
                                <option disabled>--點兩下加入下方欄位--</option>
                                <option v-for="card in gVar.deck">{{card}}</option>
                            </select>
                        </div>
                        <div class='row'>
                            <select class='form-control' @dblclick='delHand' multiple>
                                <option v-for="(hand, indx) in gVar.handCard">{{hand}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <button class='form-control' @click="startAnalysis">開始分析</button>
                </div>
            </div>
            <div class='col'>
            </div>
        </div>
    <div>

    <span></span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script src="./drawCardChance.js"></script>

<style>

</style>
</body>
</html>
